.header {
  background-color: coral;
}

.content {
  display: flex;
  flex-direction: row-reverse;
}
.favorites {
  background-color: cornflowerblue;
  width: 30vh;
  margin-left: 0px;
}

.result {
  background-color: dimgrey;
  width: 70vh;
}

.button {
  height: 25px;
}

.all-series-js {
  background-color: lightgreen;
  cursor: pointer;
  margin-bottom: 5px;
  width: 70vh;
}

.SuperFavoriteSelect {
  background-color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
